body {
    margin: auto;
    width: clamp(15rem, 90%, 50rem);
}

em {
    font-style: normal;
    font-weight: bold;
}

code {
    white-space: nowrap;
}

code, pre {
    background-color: lightgray;
    padding: .1em .4em;
    border-radius: 6px;
}

footer {
    text-align: center;
}

.license-notice {
    font-size: 0.8rem;
}

.license-name {
    display: inline-block;
}
